@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  /* container styling  */
  .content{
    /* margin-top: 100px; */
    display: flex;
    gap: 10px;
    padding-top: 50px;
    
  }

  
 